<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/goals"><b>GitHub Search APP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="goals" routerLinkActive='active'>User<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>Repos</a>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header-bg-secondary-text-white">
                    <h3>GitHub User Search</h3>
                </div>
                <div class="card-body">
                    <app-githubsearch-form></app-githubsearch-form>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <pre>
      <app-githubsearch-profile [githubSearchProfile]="githubSearchProfile"></app-githubsearch-profile>
        </pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-githubsearch-repos [githubsearchRepos]="githubsearchRepos"></app-githubsearch-repos>
        </div>
    </div>
</div>
