<app-githubsearch-form (userSearchEmit)= 'githubSearch($event)'></app-githubsearch-form>
<br><br>
<div class="container">
<div *ngIf="profile" class="card-group" style="display: flex;">
    <div class="card" style="background-color: orange;">
        <div class="card-body" style="float: right">
            <h5 class="card-title"><b>User Profile</b></h5>
            <img class="card-img-top" src="{{ profile.avatar_url }}" style="border-radius: 100%; width: 16em; height: 20em; float: left" responsive />
            <div>
                <b>Name:</b> {{ profile.name }}<br /><strong>UserName:</strong
          ><small>{{ profile.login }}</small>
        </div>
        <div *ngIf="profile.email">
          <a href="email to:{{ profile.email }}" {{profile.email}}></a>
        </div>

        <div *ngIf="profile.bio"><b>Bio:</b> {{ profile.bio }}</div>
        <div><b>Number of repos:</b> {{ profile.public_repos }}</div>


        <p>
          <a
            href="{{ profile.html_url }}"
            target="blank"
            class="btn btn-primary"
            >See profile </a
          >
        </p>
      </div>
    </div>
    <div class="card" style="background-color: cadetblue;">
      <div class="card-body">
        <h5 class="card-title"><b>SEE REPOSITORIES</b></h5>
        <div class="panel-heading" *ngFor="let repo of repos">
          <div class="clearfix">
            {{ repo.name }}<br /><a
              href="{{ repo.html_url }}"
              class="btn btn-sm btn-secondary"
              >See project on Github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>